Sphinx <= 1.6; python_version < '2.7'
Sphinx > 1.6; python_version >= '2.7'
trollius; python_version < '3.0'
twisted < 15.4; python_version < '2.7'
twisted; python_version == '2.7'
twisted < 17.9; python_version == '3.0'
twisted < 17.9; python_version == '3.1'
twisted < 17.9; python_version == '3.2'
twisted <= 17.9; python_version == '3.3'
twisted; python_version >= '3.4'
